*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    min-height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
.main_div{
    display: flex;
    flex-direction: row;
}
.arr_of_users{
    width: 220px;
    background-color: rgb(178, 178, 250);
    
}
.usersInfo{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
}
.UserCard a{
    color: rgb(78, 78, 109);
    transition: all 0.3s ease-in-out;
}
.UserCard a:hover ,
.UserCard a:focus{
    color: rgb(39, 39, 39);
}
header, footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 117px;
    background-color: rgb(143, 143, 252);
}
footer{
    font-weight: bold;
}
.header_div{
    color: rgb(41, 41, 41);
    transition: color 0.3s ease-in-out;
}
.header_div:hover,
.header_div:focus{
    color: rgb(85, 85, 85);
}
.Title_and_posts{
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: rgb(211, 211, 247);
}

.div-of-buttons button{
    color: white;
}
.buttonC{
    margin-top: 10px;
    background-color: rgb(119, 119, 255);
    transition: all 0.2s ease-in-out;
}
.buttonC:hover,
.buttonC:focus{
    color: black;
    background-color: rgb(71, 71, 255);
}
.buttonD{
    background-color: rgb(255, 76, 76);
    transition: all 0.2s ease-in-out;
}
.buttonD:hover,
.buttonD:focus{
    color: black;
    background-color: rgb(255, 36, 36);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: rgb(211, 211, 247);
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 10px;
  transition: all 0.3s ease-in-out;
}
.close:hover,
.close:focus{
    color: #333;
}

.comment {
  border-bottom: 1px solid rgb(71, 71, 255);
  padding: 10px 0;
}

.comment:last-child {
  border-bottom: none;
}

.comment h4 {
  margin: 0 0 5px 0;
  color: #333;
}

.comment p {
  margin: 0;
  color: #666;
}

.com_post{
    color: #333;
    font-weight: bolder;
}